.edit_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > input,
    select {
        width: 100%;
        max-width: 450px;
        height: 30px;
        border-radius: 5px;
        margin-bottom: 10px;
        padding-left: 5px;
        color: black;
    }
    > textarea {
        color: black;
        width: 100%;
        border-radius: 5px;
        max-width: 450px;
        min-height: 180px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 5px;
        resize: vertical;
    }
    > button {
        width: 100%;
        max-width: 450px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(245 158 11);
    }
    label {
        margin-left: 5px;
    }
}
